{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <meta name="google" content="notranslate" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Portfolio</title>
</head>

<body>
  <header class="container">
    <div class="content-links">
      <h1>&#128187; - Ricardo Rocha</h1>
      <h2 class="content-subtitle">Portfólio</h2>
      <nav>
        <ul class="content-item">
          <li>
            <a href="#about">Sobre min</a>
          </li>
          <li>
            <a href="#skill">Skills</a>
          </li>
          <li>
            <a href="#project">Projetos</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <section class="container">
      <div class="content-title-hero">
        <h2>Desenvolvedor Front-end</h2>
        <h3>Criando aplicações web, atraentes, responsivas.</h3>
      </div>
      <div class="content-hero">
        <img class="content-avatar" src="{% static 'img/perfil.jpg' %}" alt="Logo">
        <div id="about" class="content-about">
          <h4>Sobre <span class="content-span">min</span></h4>
          <p>Quero compartilhar um exemplo de portfólio feito com o Framework Django em Python. É versátil, cobrindo
            tanto o
            design (front-end) quanto a programação por trás (back-end). No portfólio, destaco meus projetos feitos com
            outras
            linguagens. ReactJs, Styled Components, Typescript. NextJs, Tailwind CSS.</p>
          <div class="content-social">
            <ion-icon class="social-icon-link" name="logo-instagram"></ion-icon>
            <ion-icon class="social-icon-link" name="logo-linkedin"></ion-icon>
            <ion-icon class="social-icon-link" name="logo-github"></ion-icon>
          </div>
        </div>
      </div>
    </section>

    <section id="skill">
      <h2 class="title-skills">Skills</h2>
      <div class="content-skill">
        <p>HTML</p>
        <p>CSS</p>
        <p>Javacript</p>
        <p>Git</p>
        <p>Github</p>
        <p>Ubuntu</p>
        <p>Sass</p>
        <p>Gulp</p>
        <p>Less</p>
        <p>Grunt</p>
        <p>ReactJs</p>
        <p>Typescript</p>
        <p>Styled Components</p>
        <p>Teste Unitários</p>
        <p>Jest</p>
        <p>Cypress</p>
        <p>NextJs</p>
        <p>Tailwind CSS</p>
        <p>Python</p>
        <p>Django</p>
      </div>
    </section>

    <section id="project" class="container">
      <h2 class="title-project">Projetos</h2>
      <div>
        <ul class="container-grid">
          {% for project in project %}
          <li>
            <div class="container-project">
              <div class="container-content">
                <div class="content-box">
                  <h2 class="content-title">{{ project.title }}</h2>
                  <p>{{ project.description }}</p>
                  <p><span class="content-paragraph">Projeto</span>: {{ project.project }}</p>
                  <p><span class="content-paragraph">Skills</span>: {{ project.language }}</p>
                </div>
                <img class="content-image-link" src="{{ project.upload }}" alt="{{ project.title }} Image">
              </div>
              <div class="container-button">
                <a href="{{ project.deploy }}" target="_blank"><button>Deploy</button></a>
                <a href="{{ project.link }}" target="_blank"><button>Github</button></a>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

  </main>
  <footer class="container">
    <div class="content-footer">
      2023 - Ricardo Rocha - Todos direitos reservados
      <nav>
        <ul class="content-item">
          <li>
            <a href="#about">Sobre min</a>
          </li>
          <li>
            <a href="#skill">Skills</a>
          </li>
          <li>
            <a href="#project">Projetos</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
</body>

</html>